[submodule "home-manager/core/dotfiles"]
	path = home-manager/core/dotfiles
	url = https://github.com/Cian-H/dotfiles.git
[submodule "nixos/core/programs/yazi/plugins/hexyl.yazi"]
	path = nixos/core/programs/yazi/plugins/hexyl.yazi
	url = https://github.com/Reledia/hexyl.yazi
[submodule "nixos/core/programs/yazi/plugins/max-preview.yazi"]
	path = nixos/core/programs/yazi/plugins/max-preview.yazi
	url = https://github.com/SUSTech-data/max-preview.yazi
[submodule "nixos/core/programs/yazi/flavors/tokyo-night.yazi"]
	path = nixos/core/programs/yazi/flavors/tokyo-night.yazi
	url = https://github.com/BennyOe/tokyo-night.yazi.git
